<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MyTestSuite">
    <listeners>
        <listener class-name="org.fresh.utilities.RetryListener"/>
    </listeners>
    <test name="MyTests">
        <classes>
            <class name="org.fresh.TestLogin"/>
            <class name="org.fresh.TestShopCheckout"/>
            <class name="org.fresh.TestCartInteractions"/>
            <class name="org.fresh.TestShopSorting"/>
        </classes>
    </test>
</suite>
